<ion-view>
  <ion-header-bar>
    <button class="button button-clear" style="color: #111111" ng-click="goBack()">返回</button>
    <h1 class="title">{{movie.title}}</h1>
  </ion-header-bar>

  <ion-content>
    <div style="padding: 20px">
      <img style="width: 100%" src="{{movie.images.large}}" align="medium">
    </div>
    <strong style="padding: 20px;padding-right: 0px">评分：</strong>
    <span>{{movie.rating.average}}</span></br>

    <strong style="padding: 20px;padding-right: 0px">年份：</strong>
    <span>{{movie.year}}</span></br>
    <strong style="padding: 20px;padding-right: 0px">导演：</strong>
    <span style="text-decoration:underline">{{movie.directors[0].name}}</span></br>
    <!-- 类型 -->
    <strong style="padding: 20px;padding-right: 0px">类型：</strong>
    <span ng-repeat="type in movie.genres">
      {{type}}
    </span>
    </br>
    <!-- 演员 -->
    <strong style="padding: 20px;">主演：</strong></br>
    <div ng-repeat="cast in movie.casts">
        <span style="padding: 20px;text-decoration:underline">
          {{cast.name}}
        </span>
    </div>

  </ion-content>

</ion-view>
